html {
  scroll-behavior: smooth;
}

p {
  border: 1px solid #ddd;
  padding: 2rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}